{% extends "admin_taller/index.html" %}
{% load i18n static %}

{% block cssfiles %} {% endblock %}

{% block breadcrumb %}
   <div class="kt-subheader  kt-grid__item" id="kt_subheader">
      <div class="kt-container kt-container--fluid ">
         <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">{% trans "Cuenta" %}</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
               <span class="kt-subheader__breadcrumbs-separator"></span>
               <a href="{% url 'accounts:password_change' %}" class="kt-subheader__breadcrumbs-link">
                  {% trans "Cambio de contraseña" %}
               </a>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block contenido %}
   <div class="kt-portlet kt-portlet--mobile">
      <div class="kt-portlet__head">
         <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
               {% trans "Cambio de contraseña exitoso" %}
            </h3>
         </div>
      </div>
      <div class="kt-portlet__body">
         <h5>{% trans "Su contraseña fue cambiada." %}</h5>
      </div>
   </div>
{% endblock %}

{% block jsfiles %}
   <script>
      $(document).ready(function () {
         setTimeout(function () {
            window.location.href = "{% url 'admin_taller:inicio' %}";
         }, 3000);
      });
   </script>
{% endblock %}